/* CSS file for all pearsilk.github.io */

body {
	background: url("./images/bg-winter2015.jpg") no-repeat fixed;
	background-position: center bottom;
	background-size: cover;
}

/* CLASSES */

span.inline-emphasis {
	font-variant: small-caps;
	font-size: 130%;
	font-weight: 900;
}

h1.headline-emphasis {
	font-variant: small-caps;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-decoration: underline;
	text-align: center;
}

h2.subheader-margin {
	margin-top: 5%;
	margin-bottom: 0%;
}

ul.bullet-margin {
	margin-top: 1%;
}

.de-emphasis {
	font-size: 88%;
}

.trans-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 0.8;
	z-index: -1;
}

.content {
	position: fixed;
	right: 5%;
	top: 5%;
	bottom: 5%;
	width: 65%;
}

.content-txt {
	position: absolute;
	left: 3%;
	right: 3%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.content-scroll {
	position: absolute;
	top: 3%;
	left: 0%;
	height: 94%;
	width: 100%;
	overflow: auto;
}

/* SIDEBAR */
#navi {
	position: fixed;
	top: 5%;
	left: 5%;
	width: 20%;
	height: 12%;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 110%;
}

/* HEADER */
#header {
	position: fixed;
	left: 5%;
	top: 20%;
	bottom: 5%;
	width: 20%;
}

#header-content {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 5%;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-variant: small-caps;
	font-size: 95%;
}

#header-content img {
	max-width: 100%;
	height: auto;
}



